<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="FluidSecureConnectionString" connectionString="Data Source=103.8.126.241;Initial Catalog=FSNew;uid=vaspdeveloper;pwd=developer@345#$;MultipleActiveResultSets=True;Max Pool Size=75;Min Pool Size=1;Connect Timeout=60" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Day" value="sunday"/>
		<add key="Time" value="17"/>
		<add key="FileName" value="WeeklySupportTicketSummary.xlsx"/>
		<add key="PathForSupportDataToGroupAdminEmailTemplate" value="C:/Program Files (x86)/Trak/WeeklySupportTicketSummary_JOB/SupportDataToGroupAdminEmail.txt"/>
		<add key="emailAccount" value="support@fluidsecure.com"/>
		<add key="emailPassword" value="SecureFluid@123"/>
		<add key="FromEmail" value="support@fluidsecure.com"/>
		<add key="smtpPort" value="587"/>
		<add key="smtpServer" value="smtp.gmail.com"/>
		<add key="EnableSsl" value="True"/>
		<add key="PathForSaveOpenTicketReport" value="C:/Program Files (x86)/Trak/WeeklySupportTicketSummary_JOB/Attacments/"/>
	</appSettings>
	<log4net debug="true">
		<!--User below code for Disable log report-->
		<!--<log4net debug="true" threshold="OFF">-->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="LogReport.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="100"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>